.idea/discord.xml
.idea/.gitignore
.idea/IP-Project-SCHOOL-DBMS.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/7/0/707dfea5a6794bd89b0a96147d7412557f6380b8
.idea/sonarlint/issuestore/9/3/936131d172a9e5140d739b5d59eed404d46440c3
.idea/sonarlint/issuestore/9/5/95ea3dfc9a087ee8db7d412a7c8b0ce705e23371
.vscode/settings.json
.idea/sonarlint/issuestore/c/5/c587536a1a0db1e230e85821b3c27ff94c303e6e
CODE/.idea/.gitignore
CODE/.idea/discord.xml
CODE/.idea/CODE.iml
CODE/.idea/modules.xml
CODE/.idea/misc.xml
CODE/.idea/vcs.xml
CODE/.idea/other.xml
CODE/.idea/inspectionProfiles/Project_Default.xml
CODE/.idea/inspectionProfiles/profiles_settings.xml
CODE/.idea/sonarlint/issuestore/index.pb
CODE/.idea/sonarlint/issuestore/1/f/1f40d1d6f9df020f3e3835520b71de4e070f0bb7
CODE/.idea/sonarlint/issuestore/4/3/434f103cccdf8d24e3ab239aa38abb59ff2dd3a1
CODE/.idea/sonarlint/issuestore/5/2/52576271b8e42d3e4d8643baa57463e3e7d9a808
CODE/.idea/sonarlint/issuestore/c/6/c69ee5c6ccdb8250b6668d92723263c00beba804
CODE/.vscode/settings.json
CODE/__pycache__/Admin.cpython-38.pyc
CODE/__pycache__/Students.cpython-38.pyc
CODE/__pycache__/Admin.cpython-39.pyc
CODE/__pycache__/Students.cpython-39.pyc
CODE/__pycache__/Teacher.cpython-38.pyc
CODE/__pycache__/Teacher.cpython-39.pyc
